* {
  margin: 0;
}
header {
  background: linear-gradient(#9f9f9f, #f8ebce);
}
header h1 {
  padding: 5px
}
header nav {
  display: flex;
  padding: 5px
}
header nav a {
  padding: 5px
}
header nav p {
  padding: 5px;
  text-decoration: underline;
  color: gray;
}
.line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
article {
  background-color: #9f9f9f;
  margin: 10px;
  min-height: 300px
}
html {
  background-color:#f8ebce;
  margin: 0 25% 0 25%
}
.l-window {
  margin: 50px 25% 50px 25%;
  padding: 10px;
  background-color: #9f9f9f;
}
.l-window form {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a c" "b c";
}
.l-window h2 {
  padding: 0 0 5px 0
}
.l-window form input {
  padding: 0;
  width: 95%;
}
.l-window form label a {

}
.l-window form a {
  grid-area: a;
}
.l-window form b {
  grid-area: b;
}
.l-window form input {
  grid-area: c
}