* {
  margin: 0;
}
header {
  background: linear-gradient(#9f9f9f, #f8ebce);
}
header h1 {
  padding: 5px
}
header nav {
  display: flex;
  padding: 5px
}
header nav a {
  padding: 5px
}
header nav p {
  padding: 5px;
  text-decoration: underline;
  color: gray;
}
.line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
article {
  background-color: #b6b6b6;
  margin: 10px;
  min-height: 300px
}
html {
  background-color:#f8ebce;
  margin: 0 25% 0 25%
}
.l-window {
  margin: 50px 25% 50px 25%;
  padding: 10px;
  background-color: #9f9f9f;
}
.l-window form {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "a d" "b d" "c d" ;
}
.l-window h2 {
  padding: 0 0 5px 0
}
.l-window form input {
  padding: 0;
  width: 95%;
}
.l-window form .a {
  grid-area: a;
}
.l-window form .b {
  grid-area: b;
}
.l-window form .c {
  grid-area: c;
}
.l-window form .d {
  grid-area: d;
}
.l-adm {
  background-color: #b4b4b4
}
.adminliwindow {
  margin: 100px 0 0 0;
  text-align: center;
}
.register {
  padding: 5px;
}
.l-reg {
  background-color: #b4b4b4;
  margin: 50px 10% 0 10%;
}
.ikelimas {
  margin: 50px 10% 50px 10%;
  padding: 10px;
  background-color: #9f9f9f;
}
.ikelimas form {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b" "c d" "e f" "g h" "z z";
}
.ikelimas form .submit {
  grid-area: z;
}
.red {
  color: red;
}